body {
    background-color: #f5fffa;
    font-family: Verdana, sans-serif;
    padding: 20px;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px;
    margin: auto;
  }
  